.list-books {
  display: flex;
}

.book {
  background-color: #fff;
  width: 270px;
  padding: 10px;
  margin: 20px auto;
  box-shadow: 0px 5px 10px 0px #000;
  border-radius: 3px;
}

.img-book {
  width: 250px;
  min-height: 384px;
  /* border-radius: 3px 3px 0 0; */
}

.book-info {
  text-align: center;
}

.book-info h3 {
  margin: 10px 0;
}

.btn-detail {
  color: #fff;
  background-color: green;
  box-shadow: 0px 0px 5px 0px grey;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.btn-detail:hover {
  color: #000;
  background-color: greenyellow;
}
