.input-box {
  background-color: #fff;
  border-radius: 5px;
  width: inherit;
  height: 40px;
  display: flex;
  align-items: center;
}

.input {
  height: inherit;
  width: 90%;
  font-size: 1rem;
  padding: 5px;
  border: none;
}

.input:focus {
  outline: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  cursor: pointer;
}

.icon:hover {
  background-color: #a1a1a1;
  border-radius: 0 5px 5px 0;
}
